html{
max-width: 768px;
margin: 0px auto;
}
*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:'Open Sans', sans-serif;
  font-size: 24px;
}
.edit{
  margin-left:-50px;
}
/* span{
  color: white;
} */
.phone img{
  margin-top:-400px;
}
.footer1{
  width:100%;
  height:24.69px;
  background-color:#ff5757;
  /* margin-top:-320px; */
  /* z-index:-5; */
}
.copyright{
  width:100%;
  height:5vh;
  background-color:#ff5757;
}
.contact{
  margin: 20vh 0vh 15vh 0vh;
  height: 60vh;
}
.fscreen{
  height:100vh;
}
